/*   VARIABLES
-------------------------*/
:root {
  --tile-color: rgba(217, 217, 217, 0.7);
  --tile-color-hover: rgba(217, 217, 217, 0.7);
  --todo-red: rgba(233, 173, 173, 1);
  --todo-green: rgba(173, 233, 173, 1);
  --todo-blue: rgba(173, 173, 233, 1);
  --cta-hover: rgba(255, 255, 255, 0.5);
}




/*   GENERAL STYLES
-------------------------*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  font-size: 1em;
  height: 100%;
  overflow-x: hidden;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  color: white;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}




/*   INPUT STYLES
-------------------------*/
input {
  position: relative;
  top: -1em;
  padding: 8px 20px;
  width: 44vw;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: none;
  font-family: 'commissioner', sans-serif;
  font-size: 1em;
  color: black;
}




/*   HERO STYLES 
-------------------------*/
.hero-image {
/*   background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/main-hero.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#sunBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/sun.jpg");
}

#cloudsBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/clouds.jpg");
}

#rainBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/rain.jpg");
}

#snowBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/snow.jpg");
}



/*   CTA STYLES
-------------------------*/
.cta {
  background-color: white;
  color: black;
  padding: 5px 40px;
  font-weight: bold;
  font-family: 'Commissioner', sans-serif;
  text-decoration: none;
}

.cta-about {
  position: relative;
  top: -1.5em;
}

.cta-about:hover {
  background-color: var(--cta-hover);
}



/*   HEADER STYLES 
-------------------------*/
.App-header {
  position: absolute;
  top: 8em;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 14px;
  width: 85vw;
}

.grid-item {
  padding: 10px 0 0 0;
  background-color: var(--tile-color);
}

h1 {
  margin-top: 0;
  margin-bottom: 0em;
  text-decoration: underline;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}




/*   MAGNUS STYLES 
-------------------------*/
.about {
  display: inline-block;
}




/* SKILLS, INTERESTS STYLES 
-------------------------*/
.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px; 
  padding: 14px!important;
}

.inner-tile {
  white-space: nowrap;
  padding: 10px;
  background-color: white;
  color: rgb(87, 86, 86);
}




/*   WEATHER STYLES
-------------------------*/
.weather-container {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: .5em;
  
}

.weather-icon {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  left: 0;
  top: .5em;
  width: 45px;
  margin-right: 2em;
  margin-left: 1.5em;
}

.weather-container p {
  position: relative;
  top: 0;
  left: -1em;
  font-size: 1em;
  font-family: 'commissioner', 'sans-serif';
  color: white;
  letter-spacing: .2em;
  white-space: nowrap;
  font-weight: bold;
}

.weather-container > *{
  display: inline-block;
}

.weather-temp {
  margin-right: 1.5em;
  font-weight: bold;
}

#city {
  position: absolute;
  width: 85vw;
  top: 4em;
  left: 50%;
  transform: translate(-50%);
}

.bold {
  margin-left: 1em;
}




/*   QUOTE STYLES 
-------------------------*/
.quote-container {
  position: relative;
  margin-bottom: 0;
  color: white;

}




@media only screen and (min-width: 1000px) {
  .grid-container {
    width: 50vw;
  }
  .inner-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .weather-container p {
    letter-spacing: .3em;
    font-size: 1.3em;
  }
  #city {
    width: 50vw;
  }
}